<div class="row">
    <div class="col-md-4 offset-md-4"></div>
    <div class="col-md-8 curtains-details-container">
        <div class="curtains-details-image">
            <img src="./styles/images/carousel/3.jpg" alt="">
            <span class="image-title">Curtains</span>
        </div>
        <!--<div class="row" class="curtains-details-selection">
            <div class="col-md-6">
                Select
            </div>
            <div class="col-md-6">
                Info icon
            </div>
        </div>
        <div class="row" class="curtains-details">
            <div class="col-md-6">
                Select
            </div>
            <div class="col-md-6">
                Info icon
            </div>
        </div>
        <div class="row" class="curtains-details">
            <div class="col-md-6">
                Select
            </div>
            <div class="col-md-6">
                Info icon
            </div>
        </div>-->
    </div>
</div>