<!-- Curtains Partials -->
<div class="row">
    <div class="col-md-4 offset-md-4"></div>
    <div class="col-md-8 partials-content partials-details-container">
        <div class="partials-details-image">
            <img src="./styles/images/carousel/3.jpg" alt="">
            <span class="image-title">Curtains</span>
        </div>
        <br>
        <br>
        <div class="row partials-details-selection">
            <div class="col-md-6 col-sm-6">
                <select class="selectpicker form-control">
                    <option>All</option>
                    <option>Patterns & Florals</option>
                    <option>Plain / Texture</option>
                    <option>Stripes & Geomentricals</option>
                    <option>Cotton</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 hidden-xs">
                <span class="partials-info-icon"></span>
            </div>
        </div>
        <!--<div class="row" class="partials-details">
            <div class="col-md-6">
                Select
            </div>
            <div class="col-md-6">
                Info icon
            </div>
        </div>
        <div class="row" class="partials-details">
            <div class="col-md-6">
                Select
            </div>
            <div class="col-md-6">
                Info icon
            </div>
        </div>-->
    </div>
</div>