.partials {
    display: none; 
}

.partials .partials-content {
    background-color: #F6F6F7;
    height: 100vh;
    padding: 0;
}

.partials-details-image {
    position: relative;
}

.partials-details-image img { 
    height: 25rem;
    object-fit: cover;
}

@media (min-width: 320px) and (max-width: 767px) {
    .partials-details-image img { 
        height: 12rem;
    }
}

span.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    display: inline-block;
    color: #fff;
    width: 8rem;
    overflow: hidden;
    margin-left: -4rem;
    margin-top: -2rem;
    height: 4rem;
}

span.image-title:before {
    position: absolute;
    content: "";
    width: 2rem;
    height: 0.125rem;
    background-color: #fff;
    top: 3rem;
    left: 36%;
}

.partials-details-selection, .partials-details {
    padding: 0 3rem 0 3rem;
}

.partials-info-icon {
    background: url(images/info.svg) no-repeat;
    height: 1rem;    
    width: 1rem;
    float: right;
    cursor: pointer;
}