.partials {
    display: none; 
}

.partials .partials-content {
    background-color: #F6F6F7;    
    height: 100%;
    padding: 0;
}

.partials-details-image {
    position: relative;
}

.partials-details-image img { 
    height: 25rem;
    object-fit: cover;
}

.partials-details {
    margin-bottom: 3rem;
}

.partials-details h4 {
    font-weight: bold;
    position: relative;
    margin-bottom: 2rem;
}

.partials-details h4:before {
    position: absolute;
    content: "";
    top: 2rem;
    width: 3rem;
    height: 0.063rem;
    background: #313132;
}

.partials-details img { 
    height: 14rem;
    object-fit: cover;
}

@media (min-width: 320px) and (max-width: 767px) {
    .partials-details-image img { 
        height: 12rem;
    }
}

span.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    display: inline-block;
    color: #fff;
    width: 8rem;
    overflow: hidden;
    margin-left: -4rem;
    margin-top: -2rem;
    height: 4rem;
}

span.image-title:before {
    position: absolute;
    content: "";
    width: 2rem;
    height: 0.125rem;
    background-color: #fff;
    top: 3rem;
    left: 36%;
}

.partials-details-selection, .partials-details {
    padding: 0 3rem 0 3rem;
}

@media (min-width: 320px) and (max-width: 767px) {
    .partials-details-selection, .partials-details {
        padding: 0 1.5rem 0 1.5rem;
    }
}

.partials-info-icon {
    background: url(images/info.svg) no-repeat;
    height: 1rem;    
    width: 1rem;
    float: right;
    cursor: pointer;
}

.image-type-details {
    font-style: italic;
    margin-bottom: 1rem;
}

.font-bold {
    font-weight: bolder;
}

span.image-title.upholstery-partial {
    width: 11rem;
    margin-left: -5.2rem;
}

span.image-title.upholstery-partial:before {
    left: 40%;
}

span.image-title.wall-covering-partial {
    width: 13rem;
    margin-left: -6.2rem;
}

span.image-title.wall-covering-partial:before {
    left: 46%;
}

span.image-title.wtow-carpets {
    width: 19.3rem;
    margin-left: -9.65rem;
}

span.image-title.wtow-carpets:before {
    left: 8.65rem;
}

span.image-title.rugs {
    width: 4.7rem;
    margin-left: -2.35rem;
}

span.image-title.rugs:before {
    left: 1.35rem;
}

span.image-title.wooden-floor {
    width: 13.3rem;
    margin-left: -6.65rem;
}

span.image-title.wooden-floor:before {
    left: calc(50% - 1rem);
}

span.image-title.bed-lenin-bath {
    width: 14.1rem;
    margin-left: -7.05rem;
}

span.image-title.bed-lenin-bath:before {
    left: calc(50% - 1rem);
}

span.image-title.accessaries {
    width: 10.9rem;
    margin-left: -3.64rem;
}

span.image-title.accessaries:before {
    left: calc(50% - 1rem);
}